[submodule "firmware/boards/nucleo_h753zi/third_party/cmsis_device_h7"]
	path = firmware/boards/nucleo_h753zi/third_party/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
	branch = master
[submodule "firmware/boards/nucleo_h753zi/third_party/CMSIS_5"]
	path = firmware/boards/nucleo_h753zi/third_party/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = master
